*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none !important;
}
body{
  font-family: 'Roboto', sans-serif;
  min-width: 1400px;
}
.container{
  width: 70%;
  margin: auto;
}
.col25{
  width: 25%;
}
.col50{
  width: 50%;
}
.fix{
  content: "";
  display: table;
  clear: both;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.pd20{
  padding: 20px;
}
.mr20{
  margin: 20px;
}
.abs{
  position: absolute;
}
.rel{
  position: relative;
}

.bg_white{
  background-color: #fdf4ee;
}

.bg_lt_grey{
  background-color: #f4f9fd;
}

.bg_orange{
  background-color: #fe775a;
}

.bg_lt_blue{
  background-color: #afebe4;
}

.bg_blue{
  background-color: #00b9a9;
}

.bg_dark_blue{
  background-color: #32495b;
}

.font_blue{
  color: #33475b;
}
/* /UTILITY */

/* HEADER */
header{
  font-size: 15px;
  line-height: 15px;
}

/* SECTION 1 */
.sct1h {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid
}
.sct1h .menu{
  height: 100%;
}

/* LEFT MENU */
.sct1h .left_menu, .sct1h .right_menu{
  margin-top: calc((80px - 15px)/2);
}
.sct1h .left_menu span{
  margin-right: 30px;
}
.sct1h .left_menu:first-child{
  margin-left: 0 !important;
}
.sct1h .left_menu a{
  text-decoration: none;
  color: #33475b;
}
#vert_bar{
  font-size: 20px;
}
/* /LEFT MENU */

/* RIGHT MENU */
.orange_btn{
  background-color: #fe775a;
  border: 1px solid #fe775a;
  padding: 10px;
  border-radius: 3px;
  text-decoration: none;
  color: white !important;
}
.white_btn{
  background-color: white;
  border: 1px solid #fe775a;
  padding: 10px;
  border-radius: 3px;
  text-decoration: none;
  color: #fe775a !important;
}
#lent_icon{
  color: #00b9a9;
}
.sct1h .right_menu{
  text-align: right;
}
.sct1h .right_menu span{
  color: #33475b;
  text-decoration: none;
  margin-left: 30px;
}
.sct1h .right_menu:last-child{
  margin-right: 0 !important;
}
/* RIGHT MENU */
/* /SECTION 1 */

/* SECTION 2 */
.sct2h {
  width: 100%;
  height: 80px;
}
.sct2h .menu{
  height: 100%;
}
/* LEFT MENU */
#logo{
  margin-top: calc((80px - 30px)/2);
}

/* RIGHT MENU */
.sct2h .right_menu{
  margin-top: calc((80px - 15px)/2);
  text-align: right;
}
.sct2h .right_menu span{
}
.sct2h .right_menu span a{
  text-decoration: none;
  margin-left: 15px;
}
/* /RIGHT MENU */

/* MAIN */
/* SECTION 1 */
.sct1m{
  font-size: 15px;
  height: 695px;
  background-image: url(../img/jumbotron.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 100% 145%;
}
.sct1m .left_menu{
  margin-top: 30px;
  color: #33475b;
}
.sct1m .left_menu h2{
  font-size: 45px;
  margin-top: 30px;
}
.sct1m .left_menu p{
  margin-top: 30px;
  line-height: 1.5;
}
.sct1m .left_menu .orange_btn{
  padding: 20px 30px;
  margin-top: 30px;
}
.sct1m .left_menu div{
  display: inline-block;
  margin-top: 30px;
}
.sct1m .left_menu div a{
  color: white;
}
/* /SECTION 1 */

/* SECTION 2 */
.sct2m{
  height: 80px;
  background-color: #afebe4;
  border-top: 2px solid #33475b;
  border-bottom: 2px solid #33475b;
}
/* /SECTION 2 */

/* SECTION 3 */
.box_style{}
.sct3m{
  height: 420px;
  background-color: #f4f9fd;
  text-align: center;
  color: #33475b;
}
.sct3m .container{
  background-color: #f4f9fd;
}
.sct3m img{
  margin-top: 50px;
  padding-left: 50px;
}
.sct3m h3{
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
}
.sct3m p{
  font-size: 15px;
  line-height: 2;
  margin-top: 30px;
}
/* /SECTION 3 */

/* SECTION 4 */
.sct4m{
  height: 320px;
  color: #33475b;
  background-color: #f4f9fd;
}
.sct4m .container{
  background-color: white;
  padding: 5% 5%;
}
.sct4m .left_box{
  width: 30%;
  height: 100%;
}
.sct4m .right_box{
  width: 70%;
  height: 100%;
}
.box_style .left_box .orange_btn{
  display: inline-block;
  padding: 20px 30px;
  margin-top: 20px;
}
.box_style .left_box .orange_btn a{
  color: white;
  text-transform: capitalize;
}
.box_style .right_box h3{
  font-size: 30px;
}
.box_style .right_box p{
  font-size: 15px;
  line-height: 2;
  margin-top: 30px;
}
.sct4m .right_box .left_box{
  display: inline-block;
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: bold;
}
.sct4m .right_box .right_box{
  display: inline-block;
  text-align: right;
  width: 65%;
}
.sct4m .right_box .right_box hr{
  margin-left: 5%;
  width: 90%;
  border-top: 1px solid;
  border-bottom: none;
  margin-bottom: 5px;
}
.sct4m .right_box i, .sct4m .right_box label{
  display: inline-block;
  margin-top: 30px;
  margin-right: 20px;
  text-transform: capitalize;
}
.sct4m .right_box i{
color: #fe775a;
}
