*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none !important;
}
body{
  font-family: 'Roboto', sans-serif;
}
.container{
  width: 80%;
  margin: auto;
}
.col25{
  width: 25%;
}
.col50{
  width: 50%;
}
.fix{
  content: "";
  display: table;
  clear: both;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.pd20{
  padding: 20px;
}
.mr20{
  margin: 20px;
}
.abs{
  position: absolute;
}
.rel{
  position: relative;
}

.bg_white{
  background-color: #fff2ef;
}

.bg_lt_grey{
  background-color: #f4f9fd;
}

.bg_orange{
  background-color: #fe775a;
}

.bg_lt_blue{
  background-color: #afebe4;
}

.bg_blue{
  background-color: #00b9a9;
}

.bg_dark_blue{
  background-color: #32495b;
}

.font_blue{
  color: #33475b;
}
/* /UTILITY */

/* HEADER */
header{
  font-size: 15px;
  line-height: 15px;
}

/* SECTION 1 */
.sct1h {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid
}
.sct1h .menu{
  height: 100%;
}

/* LEFT MENU */
.sct1h .left_menu, .sct1h .right_menu{
  margin-top: calc((80px - 15px)/2);
}
.sct1h .left_menu span{
  margin-right: 30px;
}
.sct1h .left_menu:first-child{
  margin-left: 0 !important;
}
.sct1h .left_menu a{
  text-decoration: none;
  color: #33475b;
}
#vert_bar{
  font-size: 20px;
}
/* /LEFT MENU */

/* RIGHT MENU */
.orange_btn{
  background-color: #fe775a;
  border: 1px solid #fe775a;
  padding: 10px;
  border-radius: 3px;
  text-decoration: none;
  color: white !important;
}
.white_btn{
  background-color: white;
  border: 1px solid #fe775a;
  padding: 10px;
  border-radius: 3px;
  text-decoration: none;
  color: #fe775a !important;
}
#lent_icon{
  color: #00b9a9;
}
.sct1h .right_menu{
  text-align: right;
}
.sct1h .right_menu span{
  color: #33475b;
  text-decoration: none;
  margin-left: 30px;
}
.sct1h .right_menu:last-child{
  margin-right: 0 !important;
}
/* RIGHT MENU */
/* /SECTION 1 */

/* SECTION 2 */
.sct2h {
  width: 100%;
  height: 80px;
}
.sct2h .menu{
  height: 100%;
}
/* LEFT MENU */
#logo{
  margin-top: 25px;
}

/* RIGHT MENU */
.sct2h .right_menu{
  margin-top: calc((80px - 15px)/2);
  text-align: right;
}
.sct2h .right_menu span{
}
.sct2h .right_menu span a{
  text-decoration: none;
  margin-left: 15px;

}
