*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none !important;
}
body{
  font-family: 'Roboto', sans-serif;
  min-width: 1400px;
}
.col25{
  width: 25%;
}
.col33{
  width: 33.33%;
}
.col40{
  width: 40%;
}
.col50{
  width: 50%;
}
.col60{
  width: 60%;
}
.container{
  width: 70%;
  margin: auto;
}
.fix{
  content: "";
  display: table;
  clear: both;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.mr20{
  margin: 20px;
}
.pd20{
  padding: 20px;
}
.abs{
  position: absolute;
}
.rel{
  position: relative;
}
.bg_white{
  background-color: #fdf4ee;
}
.bg_lt_grey{
  background-color: #f4f9fd;
}
.bg_orange{
  background-color: #fe775a;
}
.bg_lt_blue{
  background-color: #afebe4;
}
.bg_blue{
  background-color: #00b9a9;
}
.bg_dark_blue{
  background-color: #32495b;
}
.font_blue{
  color: #33475b;
}
/* /UTILITY */

/* HEADER */
header{
  font-size: 15px;
  line-height: 15px;
}

/* SECTION 1 */
.sct1h {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid
}
.sct1h .menu{
  height: 100%;
}

/* LEFT MENU */
.sct1h .left_menu, .sct1h .right_menu{
  margin-top: calc((80px - 15px)/2);
}
.sct1h .left_menu span{
  margin-right: 30px;
}
.sct1h .left_menu:first-child{
  margin-left: 0 !important;
}
.sct1h .left_menu a{
  text-decoration: none;
  color: #33475b;
}
#vert_bar{
  font-size: 20px;
}
/* /LEFT MENU */

/* RIGHT MENU */
.orange_btn{
  display: inline-block;
  background-color: #fe775a;
  border: 1px solid #fe775a;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none !important;
  color: white !important;
}
.white_btn{
  display: inline-block;
  background-color: white;
  border: 1px solid #fe775a;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none !important;
  color: #fe775a !important;
}
#lent_icon{
  color: #00b9a9;
}
.sct1h .right_menu{
  text-align: right;
}
.sct1h .right_menu span{
  color: #33475b;
  text-decoration: none;
  margin-left: 30px;
}
.sct1h .right_menu:last-child{
  margin-right: 0 !important;
}
/* RIGHT MENU */
/* /SECTION 1 */

/* SECTION 2 */
.sct2h {
  width: 100%;
  height: 80px;
}
.sct2h .menu{
  height: 100%;
}
/* LEFT MENU */
#logo{
  margin-top: calc((80px - 30px)/2);
}

/* RIGHT MENU */
.sct2h .right_menu{
  margin-top: calc((80px - 15px)/2);
  text-align: right;
}
.sct2h .right_menu span{
}
.sct2h .right_menu span a{
  text-decoration: none;
  margin-left: 15px;
}
/* /RIGHT MENU */

/* MAIN */
/* SECTION 1 */
.sct1m{
  font-size: 15px;
  height: 695px;
  background-image: url(../img/jumbotron.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 100% 145%;
}
.sct1m .left_menu{
  margin-top: 30px;
  color: #33475b;
}
.sct1m .left_menu h2{
  font-size: 45px;
  margin-top: 30px;
}
.sct1m .left_menu p{
  margin-top: 30px;
  line-height: 1.5;
}
.sct1m .left_menu .orange_btn{
  padding: 20px 30px;
  margin-top: 30px;
}
.sct1m .left_menu div{
  display: inline-block;
  margin-top: 30px;
}
.sct1m .left_menu div a{
  color: white;
}
/* /SECTION 1 */

/* SECTION 2 */
.sct2m{
  height: 80px;
  background-color: #afebe4;
  border-top: 2px solid #33475b;
  border-bottom: 2px solid #33475b;
}
/* /SECTION 2 */

/* SECTION 3 */
.box_style{}
.sct3m{
  height: 420px;
  background-color: #f4f9fd;
  text-align: center;
  color: #33475b;
}
.sct3m .container{
  background-color: #f4f9fd;
}
.sct3m img{
  margin-top: 50px;
  padding-left: 50px;
}
.sct3m h3{
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
}
.sct3m p{
  font-size: 15px;
  line-height: 2;
  margin-top: 30px;
}
/* /SECTION 3 */

/* SECTION 4 */
.sct4m{
  height: 320px;
  color: #33475b;
  background-color: #f4f9fd;
}
.sct4m .container{
  background-color: white;
  padding: 5% 5%;
}
.sct4m .left_box{
  width: 35%;
  height: 100%;
}
.sct4m .right_box{
  width: 65%;
  height: 100%;
}
.box_style .orange_btn{
  display: inline-block;
  padding: 20px 30px;
}
.sct4m .orange_btn{
  margin-top: 40px;
}
.box_style .orange_btn a{
  color: white;
  text-transform: capitalize;
}
.box_style h3{
  font-size: 30px;
}
.box_style p{
  font-size: 15px;
  line-height: 2;
  margin-top: 30px;
}
.sct4m .right_box .left_box{
  display: inline-block;
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
.sct4m .right_box .right_box{
  display: inline-block;
  text-align: right;
  width: 60%;
}
.sct4m .right_box .right_box hr{
  margin-left: 5%;
  width: 90%;
  border-top: 1px solid;
  border-bottom: none;
  margin-bottom: 5px;
}
.sct4m .right_box i, .sct4m .right_box label{
  display: inline-block;
  margin-top: 30px;
  margin-right: 20px;
  text-transform: capitalize;
}
.sct4m .right_box i{
color: #fe775a;
}
/* /SECTION 4 */
/* SECTION 5 */
.sct5m{
  width: 100%;
  height: 700px;
  background-color: #f4f9fd;
  color: #33475b;
}
.sct5m .col33{
  background-color: white;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  padding: 25px;
}
.sct5m .img_box{
  height: 120px;
  text-align: center;
}
.sct5m h3, .sct5m label{
  text-transform: capitalize;
}
.sct5m hr{
  border-top: 1px solid;
  border-bottom: 0;
  margin-top: 40px;
}
.sct5m .capital{
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 30px;
  font-weight: bold;
}
.sct5m ul{
  margin-top: 30px;
}
.sct5m ul li{
  list-style-type: none;
  text-align: left;
}
.sct5m ul li i{
  color: #f5775a;
  margin-right: 10px;
}
.sct5m .orange_btn{
  margin-top: 50px;
}
/* /SECTION 5 */
/* SECTION 6 */
.sct6m{
  width: 100%;
  height: 700px;
  background-color: #00acb6;
  color: white;
}
.sct6m h3{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}
.sct6m p{
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding-top: 30px;
  line-height: 2;
}
/* sct6 table */
.sct6m .top_row{
  border-bottom: 1px solid white;
  margin: auto;
  margin-top: 25px;
}
.sct6m .bottom_row{
  margin: auto;
  margin-top: 0;
}
.sct6m .sheet:nth-of-type(1n+2) {
  border-left: 1px solid white;
}
.sct6m .sheet{
  padding: 30px;
  text-align: center;
}
.sct6m .table_logo{
  height: 40px;
}
.sct6m .table_logo img{
  height: 40px;
}
.sct6m .table_logo i{
  display: block;
  font-size: 40px;
}
.sct6m h2{
  font-size: 45px;
  font-weight: bold;
  margin-top: 15px;
}
.sct6m h2 span{
  font-size: 25px;
  font-weight: 500;
  padding-left: 5px;
  vertical-align: middle;
}
.sct6m .promo{
  font-size: 13px;
  font-weight: 500;
  margin-top: 15px;
}
/* /sct6 table */
/* /SECTION 6 */

/* SECTION 7 */
.sct7m{
  height: 700px;
  width: 100%;
  background-color: #fcfcfc;
  color: #33475b;
}
.sct7m .top_row{
  width: 100%;
  height: 100%;
}
.sct7m .top_row .col40{
  height: 100%;
  margin-top: 50px;
}
.sct7m .top_row h2, .sct7m .top_row p{
  padding-left: 60px;
  width: 62.5%;
}
.sct7m .top_row h2{
  font-size: 50px;
}
.sct7m .top_row p{
  margin-top: 40px;
  font-size: 15px;
  line-height: 2;
}
.sct7m .top_row .col60{
  height: 100%;
  margin-top: 50px;
}
.sct7m .col60 .col25:nth-of-type(1n+2){
 padding-left: 20px;
}
.sct7m .col60 .col25 img{
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.sct7m .col60 .col25 .special_img{
  margin-top: 8px;
}
/* sct7 bottom_row */
.sct7m .bottom_row{
  margin-top: 50px;
}
.sct7m .bottom_row .col40 h2{
  font-size: 30px;
  text-transform: capitalize;
}
.sct7m .bottom_row .col40 p{
  margin-top: 30px;
  font-size: 15px;
  line-height: 2;
}
.sct7m .bottom_row .col40 .orange_btn{
  margin-top: 30px;
  padding: 20px 35px;
}
.sct7m .bottom_row .col40 a{
  text-decoration: none;
  color: white;
}
.sct7m .bottom_row .col40 .closing_line{
  font-size: 12px;
  margin-top: 40px;
}
/* /bottom_row col40 */
/* bottom row col60 */
.sct7m .bottom_row .col60{
  height: 330px;
  background-image: url(../img/woman.webp);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
/* /SECTION 7 */
/* /MAIN */
